#spanId {
    margin: 50px;
    font-size: 18px;
}

#thirdDiv {
    padding: 50px;
    border: 3px;
    border-color: deeppink;
    height: 600px;
    width: 500px;
    background-color: darkred;
}

h1 {
    color: darkorange;
}

img {
    width: 400px;
}
